/* app.css */

* {
	font-family: "open-sans", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
	color: #ed1c24;
}

header h1 {
	letter-spacing: -3px;
	font-size: 3em;
}
	header h1 span {
		font-weight: 400;
		color: #000;
	}

	header nav {
		line-height: 3.5em;
		display: inline-block;
		vertical-align: middle;
		text-align: right;

	}	
		header nav a {
			margin: 0 10px 0 10px;
			display: inline-block;
			vertical-align: text-top;
		}
			header nav a:hover {
				color: #8d2020;
			}
	@media only screen and (max-width: 720px) {
		header nav {
			display: block;
			margin-top: -50px;
			text-align: left;
		}
	}
	@media only screen and (max-width: 350px) {

		header nav {
			margin: -15px 0 0 0;
			background: #ed1c24 url('../img/grain.png');
		}

		header nav a {
			display: block;
			background: #ed1c24 url('../img/grain.png');
			color: #fff;
			text-align: center;
			line-height: 2.5;
		}
	}	

#hero-box {
	background: #ccc url('../img/hero-hull-qg.jpg') no-repeat;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding: 20px;
	margin: 0 0 20px 0;
}

	#hero-box h2 {
		font-weight: 400;
		color: #fff;
		font-size: 2em;
		text-shadow: 1px 1px 2px #222;
	}
	@media only screen and (max-width: 350px) {
		#hero-box h2 {
			font-size: 1.5em;
		}
	}

	#hero-box h2 span {
		font-weight: 900;
	}

	@media only screen and (min-width: 720px) {
		#hero-box img {
			margin: 10% 0 0 0;
		}
	}

.button {
	font-weight: 100;
	padding: 10px 30px;
	background:url('../img/grain.png');
	box-shadow: inset 1px 1px 1px #600b0e, inset -1px -1px 1px #600b0e;
}
	.button:hover {
		box-shadow: inset 1px 1px 10px #600b0e;
	}

a.testing-area {
	font-size: 80%;
	display: inline-block;
	color: white;
	position: relative;
	top: -1px;
	border-bottom: 1px dotted white;
	margin: 0 0 15px 10px;
}
	a.testing-area:hover {
		border: none;
	}

a[title="@HullODL"] {
	font-weight: 900;
}

@media only screen and (min-width: 720px) {
		article.no-h3 p:first-child {
			margin-top: 3.5em;
	}
}

address {
	font-style: normal;
	line-height: 1.5;
}
	address span {
		display: block;
	}

		address span:first-child {
			font-weight: bold;
		}

#map {
	width:100%; 
	height:175px;
}

.vcard {padding: 0; border: 0;}

table {
	border: none;
	border-bottom: 1px solid #ed1c24;
	font-family: "Georgia", serif !important;
}

th {
	text-align: left;
	background: #ed1c24 url('../img/grain.png');
	color: #FFFFFF !important;
}

tr:nth-of-type(even) {
	background: #fac6c8 !important;
}

td a {
	color: #222;
	border-bottom: 1px dotted #222;
}
	td a:hover {
		border-bottom-color: #ed1c24; 
	}

@media only screen and (min-width: 720px) {
	section#device-library article {
		padding: 0 18px;
	}
}

ul#needed-devices-list, ul#required-features {
	list-style-type: none;
}

#required-features span {
	font-family: "Georgia", serif !important;
	font-style: italic;
	font-size: 0.75em;
	vertical-align: text-bottom;
}

footer {
	font-size:0.85em;
	margin: 20px 0 100px 0;
	height: 100px;
	border-top: 1px solid #ccc;
	padding: 15px 0;
}

span.fancy, span.fancy a {
	font-family: "Georgia", serif !important;
	font-style: italic;
	color: #222;
}
	span.fancy a {
		border-bottom: 1px dotted;
	}