/* app.css */

* {
	font-family: "open-sans", Helvetica, Arial, sans-serif !important;
}

h1, h2, h3, h4, h5, h6{
	color: #ed1c24;
}

#hero-box {
	background: #ccc url('../img/hero-hull-qg.jpg') no-repeat;
	-o-background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	padding: 20px;
	margin: 0 0 20px 0;
}

	#hero-box h2 {
		font-weight: 400;
		color: #fff;
		font-size: 2em;
		text-shadow: 1px 1px 2px #222;
	}

	#hero-box h2 span {
		font-weight: 900;
	}

	@media only screen and (min-width: 720px) {
		#hero-box img {
			margin: 10% 0 0 0;
		}
	}

.button {
	font-weight: 100;
	padding: 10px 30px;
}

a[title="@HullODL"] {
	font-weight: 900;
}

@media only screen and (min-width: 720px) {
		article.no-h3 p:first-child {
			margin-top: 3.5em;
	}
}

address {
	font-style: normal;
	line-height: 1.5;
}
	address span {
		display: block;
	}

		address span:first-child {
			font-weight: bold;
		}

#map {
	width:100%; 
	height:175px;
}

.vcard {padding: 0; border: 0;}

table {
	border: none;
	border-bottom: 1px solid #ed1c24;
}

th {
	text-align: left;
	background: #ed1c24;
	color: #FFFFFF !important;
}

tr:nth-of-type(even) {
	background: #fac6c8 !important;
}